<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<header>
    <h1>Design your taco!</h1>
</header>
<nav>
    <ul th:each="page : ${pages}">
        <li><a th:href="@{${page}}" th:text="${page}"></a></li>
    </ul>
</nav>
<BODY>
<article>

    <img th:src="@{/images/ALICEBRENTR.png}" style="width: 500px; height: 500px;"/>

    <form method="POST" th:object="${taco}">
        <div class="grid">
            <div class="ingredient-group" id="wraps">
                <h3>Designate your wrap:</h3>
                <div th:each="ingredient : ${wrap}">
                    <label>
                        <input th:field="*{ingredients}" type="checkbox"
                               th:value="${ingredient.id}"/>
                    </label>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>

            <div class="ingredient-group" id="proteins">
                <h3>Pick your protein:</h3>
                <div th:each="ingredient : ${protein}">
                    <label>
                        <input th:field="*{ingredients}" type="checkbox"
                               th:value="${ingredient.id}"/>
                    </label>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>

            <div class="ingredient-group" id="cheeses">
                <h3>Choose your cheese:</h3>
                <div th:each="ingredient : ${cheese}">
                    <label>
                        <input th:field="*{ingredients}" type="checkbox"
                               th:value="${ingredient.id}"/>
                    </label>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>

            <div class="ingredient-group" id="vegetables">
                <h3>Determine your veggies:</h3>
                <div th:each="ingredient : ${vegetable}">
                    <label>
                        <input th:field="*{ingredients}" type="checkbox"
                               th:value="${ingredient.id}"/>
                    </label>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>

            <div class="ingredient-group" id="sauces">
                <h3>Select your sauce:</h3>
                <div th:each="ingredient : ${sauce}">
                    <label>
                        <input th:field="*{ingredients}" type="checkbox"
                               th:value="${ingredient.id}"/>
                    </label>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
        </div>

        <div>
            <h3>Name your taco creation:</h3>
            <input type="text" th:field="*{name}"/>
            <br/>

            <button>Submit Your Taco</button>
        </div>
    </form>
</article>
</BODY>
</html>