<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <meta charset="ANSI"/>


    <title> Welcome ! </title>
</head>
<body bgcolor="#BBF939">
<header>
    <h2>YEET</h2>
</header>
<nav>
    <ul>
        <li><a th:href="@{/}">Lobby</a></li>
        <li><a th:href="@{/rules}">Rules</a></li>
        <li><a th:href="@{/ytb}">My Christian YouTube Channel<img th:src="@{/abc.png}" height="20" width="20"/><img
                th:src="@{/abc.png}" height="20" width="20"></a></li>
        <li><a th:href="@{/gmail}">My Gmail</a></li>
        <li><a th:href="@{/g_rev}">Game Review</a></li>
    </ul>
</nav>
<article>
    <h3>Join our server now!</h3>
    <h4><a th:href="@{/https://discord.gg/GuhDC6p}">https://discord.gg/GuhDC6p</a></h4>
    <p>Have fun meeting new people and chill with constantly active admins!</p>
</article>
</body>
</html>