<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>

    <title> Welcome ! </title>
</head>
<body bgcolor="#BBF939">
<header>
    <h2>YEET</h2>
</header>
<nav>
    <ul>
        <li><a th:href="@{/}">Lobby</a></li>
        <li><a th:href="@{/rules}">Rules</a></li>
        <li><a th:href="@{/discord}">Discord Server</a></li>
        <li><a th:href="@{/ytb}">My Christian YouTube Channel<img th:src="@{/abc.png}" height="20" width="20"/><img th:src="@{/abc.png}" height="20" width="20"/></a></li>
        <li><a th:href="@{/g_rev}">Game Review</a></li>
    </ul>
</nav>
<article>
    <p>This is my gmail for any of those who want to privately mail me and discuss something. Any questions shall
        be sent to me through my gmail.</p>
    <p><strong>Mail me <a href="">CrisRoGamer@gmail.com</a></strong></p></article>
<img th:src="@{./abc.png}" height="1000" width="1000" alt="OOPS"/>
</body>
</html>