<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>

    <title> Welcome ! </title>
</head>
<body bgcolor="#BBF939">
<header>
    <h2>YEET</h2>
</header>
<nav>
    <ul>
        <li><a th:href="@{/rules}">Rules</a></li>
        <li><a th:href="@{/discord}">Discord Server</a></li>
        <li><a th:href="@{/ytb}">My Christian Youtube Channel<img th:src="@{/abc.png}" height="20" width="20"/><img th:src="@{/abc.png}" height="20" width="20"></a></li>
        <li><a th:href="@{/gmail}">My Gmail</a></li>
        <li><a th:href="@{/g_rev}">Game Review</a></li>
    </ul>
</nav>
<article>
    <p>This game is exhilarating; it has so many ways to entertain you, it is so exci-
    <p>
        <img th:src="@{/THOT%20NOT.gif}">
    <h3> Well, that's why this page's here, to prove to you that it's definitely worth getting this game.</h3>
    <p><a th:href="@{http://www.capcom.com/phoenixwright/}">Here</a> is it's official website from CAPCOM.</p>
    <P>I recommend to get <a th:href="@{http://desmume.org/download/}">an emulator</a> to be able to play this game for yourself
        without buying a NDS (Nintendo Dual Screen).</p>
    <p>To play the game, you need the game itself (call them ROMs), right? Well, <a
            th:href="@{https://www.loveroms.com/download/nintendo-ds/0127-phoenix-wright-ace-attorney-/44861}">HERE</a>, you
        can get the 1st game.</p>
    <p>Yes, that is right. This game has sequels. And <a th:href="@{/PWl}">here</a>, you can get a list for all of them.
        Don't worry, I will arrange them chronologically.</P>
</article>