<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>

    <title> Welcome ! </title>
</head>
<body bgcolor="#BBF939">
<header>
    <h2>YEET</h2>
</header>
<nav>
    <ul>
        <li><a th:href="@{/rules}">Rules</a></li>
        <li><a th:href="@{/discord}">Discord Server</a></li>
        <li><a th:href="@{/ytb}">My Christian YouTube Channel<img th:src="@{/abc.png}" height="20" width="20"/><img
                th:src="@{/abc.png}" height="20" width="20"/></a></li>
        <li><a th:href="@{/gmail}">My Gmail</a></li>
        <li><a th:href="@{/g_rev}">Game Review</a></li>
        <li><a th:href="@{/exit}">EXIT</a></li>
    </ul>
</nav>
<article>
    <h3>Konichiwa</h3>
    <p>Hi! Welcome to YEET's website! </p>
    <p>This is <span th:text="${appName}"> My HTML pigsty</span></p>
    <p>We are glad to see you here! We hope you enjoy your stay! :D </p>
</article>
</body>
</html>