<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>

    <title> Welcome ! </title>
</head>
<body bgcolor="#BBF939">
<header>
    <h2>YEET</h2>
</header>
<nav>
    <ul th:each="page : ${pages}">
        <li><a th:href="@{${page}}" th:text="${page}"></a></li>
    </ul>
</nav>
<article>
    <p>This is my gmail for any of those who want to privately mail me and discuss something. Any questions shall
        be sent to me through my gmail.</p>
    <p><strong>Mail me <a th:href="@{mailto:CrisRoGamer@gmail.com}">CrisRoGamer@gmail.com</a></strong></p>
</article>
</body>
</html>