<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
    <title> Welcome ! </title>
</head>
<body bgcolor="#BBF939">
<header>
    <h2>YEET</h2>
</header>

<nav>
    <ul>
        <li><a th:href="@{/rules}">Rules</a></li>
        <li><a th:href="@{/discord}">Discord Server</a></li>
        <li>
            <a th:href="@{/ytb}">
                My Christian YouTube Channel
                <img th:src="@{/abc.png}" height="20" width="20"/>
                <img th:src="@{/abc.png}" height="20" width="20"/>
            </a>
        </li>
        <li><a th:href="@{/gmail}">My Gmail</a></li>
        <li><a th:href="@{/g_rev}">Game Review</a></li>
        <li><a th:href="@{/grev2}">Go Back</a></li>
    </ul>
</nav>

<article>
    <ol>
        <li>
            <a th:href="@{https://www.loveroms.com/download/nintendo-ds/0127-phoenix-wright-ace-attorney-/44861}">
                Phoenix Wright - Ace Attorney
            </a>
        </li>

        <li>
            <a th:href="@{https://www.loveroms.com/download/nintendo-ds/0820-phoenix-wright-ace-attorney-justice-for-all-/110775}">
                Phoenix Wright Ace Attorney - Justice for all.
            </a>
        </li>

        <li>
            <a th:href="@{https://www.loveroms.com/download/nintendo-ds/1551-phoenix-wright-ace-attorney-trials-and-tribulations-/111503}">
                Phoenix Wright Ace Attorney - Trials and tribulations
            </a>
        </li>

        <p>Now here you will be playing as Phoenix's rival: Miles Edgeworth.</p>

        <li>
            <a th:href="@{https://www.loveroms.com/download/nintendo-ds/4719-ace-attorney-investigations-miles-edgeworth-/114668}">
                Ace Attorney Investigations - Miles Edgeworth
            </a>
        </li>
        <p>
            There is another version, the sequel to Ace Attorney Investigations, but it's in Japanese.
            There is an unofficial translation.
        </p>
        <p>
            I will list where you can get the patch (translation from Japanese to English) and the ROM.
        </p>

        <li>
            <a th:href="@{https://gbatemp.net/threads/ace-attorney-investigation-2-prosecutors-path-final-release.367451/}">
                Patch
            </a>
            <ul>
                <li>
                    <a th:href="@{https://www.emuparadise.me/roms/get-download.php?gid=138974&amp;token=REDACTED&amp;mirror_available=true}">
                        (JP) Ace Attorney Investigations 2: Prosecutor's Path
                    </a>
                </li>
            </ul>
        </li>

        <p>
            In here you'll play as Apollo. I won't spoil anything.
            <strong>Try it out for yourself!</strong>
        </p>
    </ol>
</article>
</body>
</html>