<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
<meta charset="utf-8"/>

<title> Welcome ! </title>
</head>
<body bgcolor="#BBF939">
<header>
<h2>YEET</h2>
</header>
<nav>
<ul>
<li><a th:href="@{/}">Lobby</a></li>
<li><a th:href="@{/discord}">Discord Server</a></li>
<li><a th:href="@{/ytb}">My Christian YouTube Channel<img th:src="@{/abc.png}" height="20" width="20"><img th:src="@{/abc.png}" height="20" width="20"></a></li>
<li><a th:href="@{/gmail}">My Gmail</a></li>
<li><a th:href="@{/g_rev}">Game Review</a></li>
</ul>
</nav>
<article>
<h1>Rules for our discord server</h1>
<p>(You can read them again on our server.)</p>
<ol>
<li>You are not allowed to say racist stuff.
<li>Respect others and you'll be respected.
<li>Don't swear too hard!
<li>Shitposting goes to shitposting and <strong>ONLY</strong> there.
<li>Enter the voice chat with the name of the game that you want to play with your friends! (Ask the admins to ad more v-channels)
<li>Don't spam.<strong> Just don't.</strong> Please.
<li>Don't overuse the bots!
<li><i><strong>Christian server!</strong></i></li>
</ol>
</article>
</body>
</html>